<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <link href ="styles/megan.css" rel="stylesheet" type="text/css"/>
    <script src="vendors/jquery.min.js" charset="utf-8"></script>
    <script src="scripts/clientapp.js" charset="utf-8"></script>
  <title>Megan's Morning Chores</title>
  </head>
  <body>
    <h1>Megan's Morning Chores!</h1>

    <input type="text" name="chore" id="chore" value="" placeholder="Type Chore Here!" />
    <button type="button" name="addButton" id="addButton">Add Chore!</button>
    <button type="button" name="seeChores" id="seeChores">See All Chores !</button>

    <div id="dailyChoreList">
      <input type = "radio" name="completed" value="true" />
      <input type="submit" value="Submit"  />
    </div>
  </body>
</html>
